  MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?tls=true&authMechanism=SCRAM-SHA-256&retrywrites=false&maxIdleTimeMS=120000
  DATABASE_NAME=<your-database-name>
  COLLECTION_NAME=<your-collection-name>
  BLOB_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=<account-name>;AccountKey=<account-key>;EndpointSuffix=core.windows.net
  CONTAINER_NAME=<your-container-name>
  BLOB_NAME=<your-blob-name>
  SEARCH_SERVICE_NAME=<your-ai-search-name>
  SEARCH_API_KEY=<your-ai-search-key>
  SEARCH_INDEX_NAME=<your-ai-search-index-name>